body {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  user-select: none;
}
.icon {
  margin: 10px;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 8px;
  color: white;
  outline: none;
}
.icon:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.icon:active {
  background-color: white;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
.icons {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
}
.screen {
  border: 10px solid black;
  border-radius: 20px;
  width: 700px;
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: black;
  background-color: white;
  padding: 20px;
}
a {
  color: white;
}
a:hover {
  color: black;
}
.home > h1 {
  font-family: "Anton", sans-serif;
  font-size: 40px;
}
.home > p {
  font-family: Arial;
  font-size: 18px;
}
.stacks,
.projects {
  font-family: "Anton", sans-serif;
}
.stacksIcon {
  width: 60px;
  height: 60px;
}
.project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.arrow {
  background-color: black;
  color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  outline: none;
  cursor: pointer;
}
.projectDetails {
  width: 400px;
}
.projectButton {
  background-color: black;
  border-radius: 8px;
  outline: none;
  margin-left: 20px;
}
.projectButton > a {
  text-decoration: none;
  color: white;
}
.btns {
  display: none;
}

@media only screen and (min-width: 741px) and (max-width: 940px) {
  .screen {
    border: 10px solid black;
    border-radius: 20px;
    width: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    background-color: white;
    padding: 20px;
  }
}
@media only screen and (max-width: 739px) {
  body {
    overflow: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .screen {
    border: 10px solid white;
    border-radius: 20px;
    margin: 10px;
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    background-color: white;
    padding: 20px;
    flex-wrap: wrap;
  }
  .arrow {
    display: none;
  }
  .stacksIcon {
    width: 50px;
    height: 50px;
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn {
    border: 3px solid black;
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    width: 100px;
    outline: none;
    cursor: pointer;
  }
  .btn:active {
    background-color: white;
    box-shadow: 0 5px black;
    transform: translateY(4px);
  }
}
@media only screen and (max-width: 380px) {
  .stacksIcon {
    width: 40px;
    height: 40px;
  }
}
