body {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.icon {
  margin: 10px;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 8px;
  /* background: #f3f5f7;
  box-shadow: 5px 5px 0px #f1f3f5, -5px -5px 0px #f5f7f9;
  outline: none;
  border: none; */
  color: white;
  outline: none;
}
.icon:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.icon:active {
  background-color: white;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
.icons {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
}
.screen {
  border: 10px solid black;
  border-radius: 20px;
  width: 700px;
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: black;
  background-color: white;
  padding: 20px;
}
a {
  color: white;
}
a:hover {
  color: black;
}
.home > h1 {
  font-family: "Anton", sans-serif;
  font-size: 40px;
}
.home > p {
  font-family: Arial;
  font-size: 18px;
}
.stacks,
.projects {
  font-family: "Anton", sans-serif;
}
.project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.arrow {
  background-color: black;
  color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  outline: none;
  cursor: pointer;
}
.projectDetails {
  width: 400px;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
}
.projectButton {
  background-color: black;
  border-radius: 8px;
  outline: none;
}
.projectButton > a {
  text-decoration: none;
  color: white;
}
